tbody th {
	font-weight: normal;	/*http://www.w3.org/TR/css3-fonts/ describes font-weight*/
	font-style: italic;
}

tbody > tr > td:nth-child(2) {
	color: red;
}

tbody > tr > td:nth-child(4) {
	color: blue;
}

tbody > tr:nth-child(2n+1){
	background-color: lightgreen;
}

tbody > tr:nth-child(2n){
	background-color: lightblue;
}